body {
    display:flex;
    flex-direction: column;
    background-image: url('/static/ImagemCSS/preto\ e\ ouro.png'); /* Caminho para a imagem */
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    height: 100vh;
    margin: 0;
    padding-left: 150px; /* Ajuste conforme necessário */
  }

  h1 {  
    color: #f3ecec;
    margin-top: 180px;
}

.detalhes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #f3ecec;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 40px;
  border-radius: 10px;
  max-width: 250px;
}

.detalhes p {
    margin: 5px 0;
    font-size: 18px;
    color: #f3ecec;
}
  
  ul {
    list-style-type:none;
    padding: 50px;
  }

  li {
    font-size: 18px;
    margin-bottom: 13px;
    border-bottom: 5px solid #ddd;
    padding-bottom: 10px;
    line-height: 24px;
  }
  
  a {
    color:  #040404;
    text-decoration:none;
    margin-top: 10px;
    width: 67%;
    padding: 5px;
    border: none;
    background-color:white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px; 
    
  }

  /* Estiliza o botão */
button {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: white;
  color: black;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  font-family:'Times New Roman', Times, serif;

}


  